/*CSS Reset*/
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth
}

#landing {
	min-height: 80vh;
}
@media (max-width: 976px) {
    #landing {
        min-height: 50vh;
        display: flex;
        align-items: center;
        padding-left: 5rem;
    }
}
#projects {
    min-height: 90vh;
}
#tools, #contact{
	 min-height: 40vh;
}


.c-landing-btn { 
    cursor: pointer; 
    border: 5px solid #201E50; 
    background-color: transparent; 
    height: 50px; 
    width: 200px; 
    color: whitesmoke; 
    font-size: 1.5em; 
    box-shadow: 0 6px 6px #0F52BA; 
} 
.c-landing-btn:hover {
  box-shadow: 5px 5px 10px rgba(15, 82, 186, 0.2);
}


.c-color-text{
	color: #0F52BA;
}

.c-landing-bg{
	background-image: url("./images/Landingbg.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c-tool-bg{
	background-image: url("./images/toolbg.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c-contact-bg{
	background-image: url("./images/contactbg.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c-projects-bg{
	background-image: url("./images/projectsbg.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c-secondbackground{
	background-color: #100C08;
}

.c-align-justice{
	text-align: justify;
}
.c-fa-size
{
	font-size: 3rem;
}

.c-navbar-color-footer {
    background-color: rgba(32, 30, 80); 
 
}

/*Navbar color and animation start*/

.c-navbar-color-default{
	background-color: rgba(32, 30, 80);
}

.c-navbar-color {
    background-color: rgba(32, 30, 80); /* Define the background color you want here */
    transition: background-color 0.3s; /* Add a transition for smooth color changes */
}

.c-shadow-lg {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Add a shadow effect, you can adjust this as needed */
}
/*Navbar color and animation end*/


/*OVERRIDE BOOTSTRAPS*/
.navbar-light .navbar-toggler-icon {
    color: #ffffff; 
}

.card {
 
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.carousel-indicators li {
    background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
}

.nav-item:hover{
	 transform: scale(1.05);
	 border: solid whitesmoke;
}
.fa:hover{
	 transform: scale(2.05);
}

a{
	text-decoration: none;
	color: inherit;
}



